* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #001331;
  font-family: Arial, Helvetica, sans-serif;
}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(135deg, #00FF7F, #A020F0);
  height: 450px;
  width: 400px;
  border-radius: 15px;
}

h1 {
  color: #FFF;
  margin: 20px 0;
}

.busca {

  padding-top: 35px;
  display: flex;
  width: 300px;
}

.busca #searchInput {
  flex: 1;
  padding: 15px;
  outline: none;
  font-size: 15px;
  border-radius: 50px;
  border: 0;
  margin-right: 10px;
}

.busca img {
  width: 15px;


}

.busca button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #FFF;
  ;
  border-radius: 50%;
  width: 45px;
  cursor: pointer;

}

.busca button:hover {
  background-color: #e7e2e2;
}

.resultado {
  width: 300px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.titulo {
  width: 100%;
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-top: -30px;
}

.informacoes {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.informacoes img {

  height: 100px;
  width: 100px;
  border-radius: 50%;


}


.temperatura {
  margin: 10px;
  color: #FFF;
  font-size: 45px;
  font-weight: bold;
}

.info {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.info .temp {
  flex: 1;
  text-align: center;
}

.info .vento {
  flex: 1;
  text-align: center;
}

.tempTitulo,
.ventoTitulo {
  color: #FFFACD;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.tempInfo,
.ventoInfo {
  margin: 15px;
  color: #E0FFFF;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;

}

.tempInfo {
  text-transform: capitalize;
}

.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}

.ventoInfo span {

  font-size: 15px;
  font-weight: normal;
}

.ventoArea {
  width: 50px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 25px;
}

.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: #FFF;
  transform-origin: left;
}

.aviso {
  margin-top: 100px;
  color: #FFF;
  padding-top: 20px;
}

footer {
  font-weight: bold;
  margin-top: 20px;
  color: #FFF;
  font-size: 13px;
}


footer a {
  text-decoration: none;
  color: #ffffff;
}


@media (max-width: 400px) {

  .container {
    height: 400px;
    width: 350px;
  }

  .busca {
    width: 280px;
  }

  .busca img {
    width: 15px;
  }

  .busca button {
    width: 47px;

  }

  .temperatura {
    font-size: 30px;
  }

  .titulo {
    font-size: 20px;
  }

  .tempInfo {
    font-size: 15px;
  }

}

@keyframes fadeInSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}